<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SOSIMPLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D90AFC141F14E08B00C65DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D90AFC2B1F14E08C00C65DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D90AFC361F14E08C00C65DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
